/* ======universal css====== */
html{
    font-size: 10px;
}
*{
 box-sizing: border-box;
 padding: 0;
 margin: 0;   
}

/* ======BODY====== */
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* =======HEADER======= */
nav{
    background-color: #ffffff;
}
.header-container{
    display: flex;
justify-content: space-between; 
align-items: center;
}
.logo{
    padding: 1rem;
}
.nav-list{
    display: flex;
}
.nav-item{
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.6rem;
    list-style-type: none;
}
.items{
    margin: 1rem;
}
.header-contacts{
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    padding-left: 7.9rem;
}
.ryt-list{
    margin-left: 2rem;
}

#hospital-icon{
    font-size: 3rem;
    margin-right: 1rem;
}
.nav-button{
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    color: #09e5ab;
    padding: 1.2rem 1.7rem;
    margin-right: 4rem;
    border: 3px solid #09e5ab;
    border-radius: 5px;
    background-color: #fff;
}
span{
padding: 0.5rem;
}

/* =====FIRST SECTION====== */
.first-section{
background:url('./photos/620d8a9556651ec66f6bc3d0c52812ac.jpg');
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
    position: relative;
    height: 400px;
}
.apointment-heading{
    position: absolute;
    top: 25%;
    right: 26%;
}
.heading{
    font-size: 4rem;
    font-weight: 500;
}
.doc{
    font-size: 20px;
}
.heading, .doc{
    margin-bottom: 10px;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
}
.apointment-buttons{
    display: flex;
    position: absolute;
    bottom: 30%;
    right: 25%;
}
.appointment-text{
    font-size: 1.5rem;
}
input, .header-button{
    font-size: 1.7rem;
    text-align: center;
    padding: 1rem;
    border: 1px solid #09e5ab;
    border-radius: 6px;

}
.header-button{
background-color: #09e5ab;
}
.search-icon{
    color: #fff;
}
.search{
    width: 20rem;
    margin-right: 1rem;
}
.locator{
    width: 45rem;
    margin-right: 1rem;
}
.second-section{
    background-color: #f8f9fa;
    padding: 8rem 0;
}
.section-heading{
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    padding: 4rem 0;
}
.section-box{
    display: flex;
    justify-content: center;
    position: relative;
    
}
.doctor, .pharmacy, .lab{
    height: 20rem;
    width: 30rem;
    border-radius: 5px;
    margin-right: 3rem;
    position: relative;
}
.doctor{
    background:url('./photos/81f237c60c9af3153ecf4340f772db98.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
        position: relative;
 
}
.doc-heading{
    color: #fff;
    text-align: center;
    font-weight: 500; 
    font-size: 2.3rem;
    padding: 1.5rem 0;
    position: absolute;
    top: 22%;
    right: 23%;
}
.doc-button{
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.8rem;
    font-weight: 500;
    border: 1px solid #0de0fe;
    border-radius: 4px;
    padding: 0.8rem 1rem;
    background-color: #0de0fe;
    position: absolute;
    bottom: 31%;
    right: 30%;
}
.pharmacy{
    background:url('./photos/79d957d6f7a3d418fabc28ed931b826e.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
.pharmacy-heading{
    color: #fff;
    text-align: center;
    font-weight: 500; 
    font-size: 2.3rem;
    padding: 1.5rem 0;
    position: absolute;
    top: 22%;
    right: 23%;
}
.pharmacy-button{
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.8rem;
    font-weight: 500;
    border: 1px solid #0de0fe;
    border-radius: 4px;
    padding: 0.8rem 1rem;
    background-color: #0de0fe;
    position: absolute;
    bottom: 31%;
    right: 36%;
}
.lab{
    background:url('./photos/44469c520985bf4c75e1448603d4a8b1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
        position: relative;
}
.lab-heading{
    color: #fff;
    text-align: center;
    font-weight: 500; 
    font-size: 2.3rem;
    padding: 1.5rem 0;
    position: absolute;
    top: 24%;
    right: 31%;
}
.lab-button{
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.8rem;
    font-weight: 500;
    border: 1px solid #0de0fe;
    border-radius: 4px;
    padding: 0.8rem 1rem;
    background-color: #0de0fe;
    position: absolute;
    bottom: 31%;
    right: 28%;
}
.third-section{
    padding: 10rem;
}
.clinic-header{
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 10rem;
}
.clinic-heading{
    font-size: 4rem;
    font-weight: 500;
}
.clinic-headtext{
    color: #757575;
    font-size: 1.7rem;
    font-weight: 500;
    padding-top: 2.5rem;
}
.clinic-images{
    display: flex;
    justify-content: center;
}
.urology, .nuerology, .cardiologist, .orthopedic, .dentist{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    margin-right: 4rem;
    position: relative;
}
.clinical-term{
    font-size: 2.1rem;
    font-weight: 500;
    position: absolute;
    bottom: -21%;
    right: 21%;
}
.urology{
    background: url('./photos/download.png');
    background-size: 6rem;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
.nuerology{
    background: url('./photos/download\ \(1\).png');
    background-position: center center;
    background-repeat: no-repeat;
}
.orthopedic{
    background: url('./photos/download\ \(2\).png');
    background-size: 6rem;
    background-position: center center;
    background-repeat: no-repeat;
}
.cardiologist{
    background: url('./photos/download\ \(3\).png');
    background-size: 6rem;
    background-position: center center;
    background-repeat: no-repeat;
}
.dentist{
    background: url('./photos/download\ \(4\).png');
    background-size: 6rem;
    background-position: center center;
    background-repeat: no-repeat;
}
.forth-section{
    background-color: #f8f9fa;
    display: flex;
    padding: 8rem 2rem;
    margin: 0;
}
.forth-heading{
    font-size: 4rem;
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom: 1rem;
}
.forth-lorem{
    color: #757575;
    font-size: 1.7rem;
    padding-bottom: 2rem;
}
.forth-content{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.2;
}

.read-button{
    font-size: 15px;
    color: #fff;
    background-color: #0de0fe;
    border: 1px solid #0de0fe;
    border-radius: 5px;
    padding: 15px 20px;
    margin-top: 30px;
}
.doc-profile{
    display: flex;
}
.card{
    display: inline-block;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    width: 245px;
    padding: 20px;
    box-shadow: 2px 2px 13px rgb(0 0 0 / 10%);
    position: relative;
    margin: 0 10px;
}
.profile-content{
padding: 15px 0 0;
}
.profile-title{
font-size: 17px;
font-weight: 500;
margin-bottom: 5px;
}
.sofia-title{
    height: 130px;
    width: 100%;
    background: url('./photos/7058680646be673ef70f79e43f408408.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.ruby-title{
    height: 130px;
    width: 100%;
    background: url('./photos/82a70aca5403c6ff499b0ac2a729e670.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.darren-title{
    height: 130px;
    width: 100%;
    background: url('./photos/4c4edf4d3fc07e7acd8f249becdbcc04.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.profile-basic{
    color: #757575;
    font-size: 15px;
    margin-bottom: 10px;
}
.profile-list{
    color: #757575;
    font-size: 15PX;
    list-style-type: none;
    line-height: 2.0;
    margin-bottom: 15px;
    padding: 0;
}
.buttons{
    display: flex;
}
.card-button{
    background-color: #fff;
    border: 2px solid #0de0fe;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #0de0fe;
    padding: 6px;
    display: block;
    margin-right: 15px;
}
.book-button{
    background-color: #0de0fe;
    border: 2px solid #0de0fe;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    display: block;
}
.fifth-section{
    display: flex;
    justify-content: space-between;
    padding: 8rem;
}
.fifth-header{
    text-align: left;
    padding: 5rem 2rem;
}
.fifth-heading{
    text-transform: capitalize;
    font-size: 4rem;
    font-weight: 500;
    padding-bottom: 1.5rem;
}
.fifth-para{
    color: #757575;
    font-size: 1.6rem;
}
.image-content{
    display: flex;
    padding: 1.5rem;
}
.image-circle{
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
margin: 1.5rem;
}
.medical-text{
    text-align: center;
    font-weight: 500; 
    font-size: 1.8rem;
    padding-top: 1rem;
}
.medical{
    background: url('./photos/6962bf596e4125886d79ad2872e3d47e.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.patient-room{
    background: url('./photos/1eb95d47909144cd3761c65e9c4c776c.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;   
}
.test-room{
    background: url('./photos/5f512084522e55e7d0b0558624d98a9a.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;   
}
.icu{
    background: url('./photos/83604bf3f6914c5df51fe23d9df9098f.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;   
}
.laboratory{
    background: url('./photos/1f1ad77261b62c3930f3f5e97cb75efd.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;   
}

/* =======SIXTH SECTION========== */


.blog-container{
background-color: #f8f9fa;
padding: 8rem 3rem;
position: relative;
}
.blog-header{
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 7rem;
}
.blog-news{
    font-size: 4rem;
    font-weight: 500;
    padding-bottom: 3rem;
}
.blog-prg{
    font-size: 1.7rem;
}
.blog-profile{
    display: flex;
    justify-content: space-between;
}
.ruby-card{
    width: 25%;
    border-radius: 5px;
    box-shadow:  0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);;
    position: relative;
    padding: 2rem;
    margin: 1rem;
}
.ruby-image{
    height: 17.4rem;
    width: 100%;
    background: url('./photos/682de2bf54ac3d17d1f6c35e7c704425.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.darren-image{
    height: 17.4rem;
    width: 100%;
    background: url('./photos/105e9ea3d160b87f2b67956c72dcf082.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.angel-image{
    height: 17.4rem;
    width: 100%;
    background: url('./photos/13f14d543c4baa3ebbcae97e52c93e77.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.sofia-image{
    height: 17.4rem;
    width: 100%;
    background: url('./photos/bb83a25e4f55ebeaa704d765f6aa0b12.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.profile-wrapper{
    display: flex;
    align-items: center;
    padding: 2rem 0;
}
.ruby-profile{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background: url('./photos/210634dca875b5880520c51b4577e6aa.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.darren-profile{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background: url('./photos/4c4edf4d3fc07e7acd8f249becdbcc04.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.angel-profile{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background: url('./photos/bb83a25e4f55ebeaa704d765f6aa0b12.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.sofia-profile{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background: url('./photos/7058680646be673ef70f79e43f408408.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.perrin{
    font-size: 1.7rem;
    margin-left: 1rem;
}
.card-date{
    font-size: 1.7rem;
}
.ruby-lower{
    text-transform: capitalize;
    padding: 2rem 0 0.5rem;
}
.ruby-heading{
    font-size: 1.8rem;
    font-weight: 500;
}
.ruby-text{
    color: #757575;
    font-size: 1.5rem;
    padding-top: 2rem;
}
.view-button{
    position: absolute;
    bottom: 3%;
    right: 45%;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
    background-color: #09e5ab;
    border: 1px solid #09e5ab;
    border-radius: 5px;
    margin-top: 2rem;
    padding: 1.2rem 3rem;
}

/* =======FOOTER========== */
footer{
    background-color: #15558d;
    color: #fff;
}
.footer-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.6rem;
    padding: 2rem;
}
.footer-upper{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1em;
    padding: 2rem;
}
.doccure-list{
    /* display: flex; */
}
.doccure-li{
    text-decoration: none;
}

.footer-heading{
    text-transform: capitalize;
    padding-bottom: 1.5rem;
}
.footer-list{
    list-style-type: none;
    line-height: 1.7;
}
.footer-lower{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid violet;
    padding: 2rem;
    margin: 0.5rem 1.5rem;
}
.lower-right{
    display: flex;
}
.policy{
    border-left: 1px solid #fff;
    padding-left: 0.4rem;
}
.terms{
    padding-right: 0.5rem;
}